	body{
		font-family: Arial, sans-serif;
		font-size: 13px;
	}
	input {
	  outline: none;
		border: none;
		font-size: 15px;
  }
	img{
		max-width: 100%;
	}
	.up{
		display:inline-block;
		float:right;
    padding: 8px 22px;
	}
	.up ul{
		list-style: none;
		margin: 0;
	}
	.up ul li{
		padding: 7px 7px;
		float: left;
	}
	.up ul li:nth-child(3){
		padding: 7px 22px 7px 14px;
    opacity: 0.6;
	}
	.up ul li:nth-child(3):hover{
		opacity: 0.8;
	}
	.up ul li:last-child{
		padding:0;
	}
	.bottom{
		position: absolute;
		background-color: #f2f2f2;
		height: 40px;
		width: 100%;
		left: 0;
		float: left;
    bottom: 0px;
		border-top:1px solid rgba(0,0,0,.1);
	}
	.bottom a{
		color: #666;
	}
	.bottom a:hover{
		color: #333;
	}
	.bottomleft{
    float: left;
	}
	.bottomleft ul{
		padding: 0;
		margin: 0;
	}
	.bottomleft ul li{
		display: block;
		float: left;
		padding: 12px 0 12px 29px;
	}
	.bottomright{
		float: right;
	}
	.bottomright ul{
		margin: 0;
	}
	.bottomright ul li{
		display: block;
		float: left;
		padding: 12px 29px 12px 0;
	}
	.centr{
		display: block;
		position: relative;
    margin:0 auto;
    top: 190px;
		width:580px;
	}
	.account{
		font-weight: 700;
		height: 16px;
    padding: 7px 13px;
		width: 39px;
		background-color: #4285f4;
		border-radius: 3px;
		float: left;
	}
	.box{
		border-radius: 2px;
		color: #757575;
		background-color: #f5f5f5;
    padding: 11px 17px 10px;
	}
	.bel{
		font-size: 16px;
		color: #4285f4;
		display: inline-block;
		position: relative;
		left: 215px;
		bottom: 17px;
		width: 40%;
	}
	a{
		text-decoration: none;
		color: #333;
	}
	a:hover{
		text-decoration: underline;
		color: #333;
	}
	.logo{
		margin: 0 auto;
		width: 272px;
		padding-bottom: 8px;
	}
	.form{
		width: 100%;
    height: 44px;
		border: 1px solid #CCC;
		border-radius: 2px;
		box-shadow: 0px 2px 5px 0 #CCC;
	}
	.string{
		float: left;
		padding: 12px 15px;
	}
	.keyboard{
		display: inline-block;
		float: right;
		padding: 16px 9px 16px 4px;
		opacity: 0.8;
	}
	.keyboard:hover{
		opacity:1;
	}
	.micro{
		display: inline-block;
		float: right;
		padding: 12px 21px 12px 15px;
	}
	.buttons{
		position: relative;
		margin: 0 auto;
		top: 31px;
		font-weight: 700;
		width: 275px;
		text-align: center;
	}
	.search{
    display: inline-block;
    text-align: center;
		padding: 0px 2px 29px;
	}
	.link{
		text-decoration: none!important;color:#333;
	}
	.luck{
	 	display: inline-block;
    text-align: center;
		padding: 0px 2px 29px;
	}
	.lang{
		font-weight: 300;
		text-align: center;
	}
	.lang a{
		color: #1a0dab;
	}
	.app{
		float:left;
		padding: 7px 22px 7px 14px;
		opacity: 0.6;
	}
	.app:hover{
		opacity: 0.8!important;
	}
	.mail{
		float: left;
		padding: 7px 7px;
	}
	.login{
		text-decoration: none!important;
		color: white!important;
	}
	.box:hover{
		color: #000;
		box-shadow: 0px 0px 1px #333;
	}
	.linkbel:link{
		color: blue;
	}
	.log{
		padding-left:10px;
	}
