.repo {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  &__header {
    font-family: Arial;
    width: 100%;
    text-align: center;
    background: #ccc;
    padding: 10px;
  }

  &__list{
    list-style-type: none;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;

    .list-item {
      padding: 10px;
      margin: 5px;
      border-radius: 3px;
      background: #ccc;
      &__title {
        color: black;
        font-size: 32px;
      }
    }
  }
}
